<form action="{{ path('admin_contact_source_provider_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn btn-danger">{% trans %}delete{% endtrans %}</button>
</form>