{{ provider }}
<ul>
  <li>{% render 'IDCIContactFormBundle:AdminSource:deleteProviderForm' with { 'id': provider.id } %}</li>
  <li>
    <a class="btn" href="{{ path('admin_contact_source_provider_parameter_configure', {'source_provider_id': provider.id}) }}">
      <i class="icon-tasks"></i>
      {% trans %}Configure{% endtrans %}
    </a>
  </li>
</ul>

